body{
    font-family: serif;
}
.header{
    margin: 15px;
}
h1{
    font-weight: 600;
    color: #344a71;
    font-size: 77px;
}
/*//nav-bar*/
.navbar-collapse {
    margin-top: 20px;
    border-top: 2px solid #344a71;
    border-bottom: 2px solid #344a71;
}
.navbar-nav{
    margin-left: 16px;
}
.navbar-nav>li>a {
    font-size: 23px;
    margin-left: 30px;
    color: #344a71;
    text-decoration: underline;
}
.navbar-nav>li>a:hover {
    color: white;
    background: #344a71;
    text-decoration: underline;
}
.containerNav{
    margin:auto;
}
/*//container*/
.container{
    width: 100%;
    padding-right: 0px;
     padding-left: 0px;
     margin-right: 0px;
     margin-left: 0px;
}
#childImg{
    float: left;
}
.headChild{
    float: left;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 10px;
    color: #344a71;
}
.socNet{
    width:30px;
    height:30px;
    margin: 1%;
}
.quoteText{
    margin-top: 15%;
}
.textMain{
    color: white;
    font-size: 30px;
    font-style: italic;
    float: right;
}
.mainImg{
    background-image: url("img/Betz.jpg");
    background-size: cover;
    height: 465px;
    width: 90%;
    margin: auto;
}
.jumbotron{
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: url(img/image001.png);
    background-size: cover;
    margin-top: 3%;
}
#textJumb{
    color: #344a71;
    font-size: 30px;
}
.imgMiniMenu{
    width: 325px;
    height: 260px;
    position: absolute;
    z-index: 1;
    margin-left: 8%;
}
.miniMenu{
    height: 255px;
}
.HrCont{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #344a71;
}
.btn-default{
    position: relative;
    z-index: 2;
    margin-top: 26%;
    margin-left: 36%;
    font-size: 20px;
    color: #2a368e;
    background-color: #fff;
    border-color: #ccc;
    opacity: 0.7;
}
.btn-default:hover {
    color: white;
    background-color: #344a71;
    opacity: 1;
    border-color: #344a71;
}
/*//footer*/
.footer{
    margin-top: 8%;
    background: #0f1623;
    color: white;
    height: 330px;
}
.footer .column{
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 1%;
}
.footMarg{
    margin-top: 10%;
    font-size: 21px;
}
.row {
     margin-right: 0px;
     margin-left: 0px;
}
.logoImg{
        margin-left: 40%;
        margin-top: 13%;
}
.col-md-8{
    padding-left: 0px;
}
.footImg{
    margin-top:20px;
}
.firstLog{
    width: 250px;
}
.secondLog{
    width: 150px;
}
.thirdLog{
    width: 62px;
    float: right;
}
.fourLog{
    width: 250px;
}
.footText{
    font-size:13px;
    line-height: 1em;
}
#textFirstFoot{
    font-size: 20px;
}
.footer a{
    color: white;
    font-size: 20px;
}
.footer .footMenu{
    padding-left: 0px;
    padding-right: 0px;
}
.footer .col-md-7{
    padding: 0px;
}
.footer .thirdColumn{
    margin-left: 20px;
}
h4{
    font-size: 21px;
    font-weight: 600;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #eee;
}